:root {
  --grey-0: #0a0a0a;
  --grey-1: #0f0f0f;
  --grey-2: #141414;
  --grey-3: #1f1f1f;
  --grey-4: #3d3d3d;
  --grey-5: #5c5c5c;
  --grey-6: #808080;
  --grey-7: #a3a3a3;
  --grey-8: #cccccc;
  --grey-9: #ffffff;

  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --grey-0: #0a0a0a;
    --grey-1: #0f0f0f;
    --grey-2: #141414;
    --grey-3: #1f1f1f;
    --grey-4: #3d3d3d;
    --grey-5: #5c5c5c;
    --grey-6: #808080;
    --grey-7: #a3a3a3;
    --grey-8: #cccccc;
    --grey-9: #ebebeb;
    --grey-10: #ffffff;

    --background: var(--grey-0);
    --foreground: var(--grey-9);
  }

  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Geist, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
